@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-primary: #00d991;
  /* --color-primary-dark: #171923; */

  --container-padding: 1.25rem;
}
.dark {
  @apply bg-[#171923] text-white;
}
