@import "tailwindcss";

@theme {
  --color-primary: #00d991;
}
@custom-variant dark (&:where(.dark, .dark *));

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.dark {
  background-color: #111;
  color: white;
}
